NODE_ENV=development
HOST=127.0.0.1
PORT=4100
CLIENT_ORIGIN=http://localhost:3000
DATABASE_PATH=./data/ems-messenger.sqlite
DEV_AUTH_ENABLED=true
SESSION_SECRET=replace-with-at-least-32-random-characters
MESSAGE_MAX_LENGTH=8000
